
body {
	padding: 0;
	margin: 0;
	}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

/* Overlay */
#simplemodal-overlay {
	background: black url(r.png) no-repeat bottom right;
	cursor:wait;
	}

/* Container */
#simplemodal-container {
	height:400px;
	width:600px;
	background-color:#fff;
	border:3px solid #ccc;
	
/* height:480px; */ height:444px;
width: 720px;

	}

#simplemodal-container #basicModalContent {padding:8px; background: red}

	
#simplemodal-container iframe {
	background: white url(i.gif) no-repeat center center;
	}

#simplemodal-container a.modalCloseImg {
	background-color: transparent;
	background-image: url(x.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	width: 25px;
	height: 29px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: -15px;
	right: -18px;
	cursor: pointer;
	
	background: #ccc url(x.png) no-repeat 3px 3px;
	height: 21px;
	width: 21px;
	right:-3px;
	top: -21px;
	}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

div.az_glasuvam_hide {
	padding: 0;
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align: left;
	color: #ddd;
	background: gray ;
	padding: 0 4px;
	height: 46px;
	vertical-align: middle;
	height: 36px;
	}

	div.az_glasuvam_hide .azglasuvam_hide {
		margin-top: 3px;
		}
	
	div.az_glasuvam_hide span.stamp {
		padding: 0;
		margin: 0;
		float: right;
		cursor: default;
		}
		
		 div.az_glasuvam_hide span.stamp a {
			color: white;
			text-decoration: none;
			}
		div.az_glasuvam_hide span.stamp a:hover {
			text-decoration: underline;
			}
			
			div.az_glasuvam_hide span.stamp a img {
				border: 0;
				vertical-align: middle;
				}
	
	div.az_glasuvam_hide label {
		padding: 0;
		margin: 0;
		cursor: pointer;
		font-size: 11px;
		position: relative;
		top: -2px;
		left: 1px;
		color: #ccc;
		}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

div.rotator {
	margin: 0;
	padding: 0;
	font-size: 12px;
	background: white;
	}

	.rotator .nav {
		padding: 0;
		margin: 0;
		display: block;
		font: bold 16px Arial;
		color: gray;
		cursor: default;
		height: 26px;
		line-height: 26px;
		text-align: right;
		margin-bottom: -26px;
		z-index:3;
		padding-right: 10px;
		padding-top: 10px;
		}
		
		.rotator .nav a {
			cursor: pointer;
			display: block;
			float:right;
			height: 26px;
			width: 26px;
			overflow: hidden;
			line-height: 1000px;
			font-size: 9px;
			background: white url(n.png) no-repeat;
			}
		.rotator .nav a:hover {
			background-position: bottom left;
			}
			
		.rotator .nav a.prev {
			background-image: url(p.png);
			margin-left: 7px;
			}
		
	.rotator .author {
		cursor: default;
		line-height: 1.5em;
		font-family: Helvetica,Arial,Sans-Serif;
		padding: 0;
		margin: 0;
		}
	
		.rotator .author img.avatar {
			width: 90px;
			height: 90px;
			background: black url(_.gif) no-repeat center center;
			border: solid 1px black;
			float: left;
			margin-right: 10px;
			}

	.rotator .author h2 {
		padding: 0;
		margin: 0;
		font-weight: normal;
		font-style: italic;
		color: #3a443a;
		color: #637463;
		font-size: 45px;
		letter-spacing: -1px;
		padding-top: 16px;
		display: block;
		}
		
	.rotator .author div.details {
		padding: 0;
		margin: 0;
		margin-top: 11px;
		color: black;
		font-style: italic;
		font-size: 17px;
		font-weight: normal;
		}

	.rotator .author a.blog {
		padding: 0;
		margin: 0;
		display: block;
		margin-top: 4px;
		font-size: 17px;
		font-weight: normal;
		font-style: italic;
		color: #666;
		}
		
		.rotator .author a.blog:hover {
			color: black;
			}

	.rotator div.caption {
		padding: 0;
		margin: 0;
		border-top: solid 7px transparent;
		clear: both;
		color: #666;
		font-size: 15px;
		line-height: 1.1em;
		letter-spacing: -1px;
		cursor: default;
		font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
		}
	* html .rotator div.caption {
		border-top: 0;
		}
		
		.rotator div.caption p {
			margin: 3px 0;
			padding: 0;
			}
		
		.rotator div.caption a.more {
			padding: 0;
			margin: 0;
			display: block;
			margin-top: 9px;
			font-size: 10px;
			font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
			text-transform: uppercase;
			letter-spacing: 0px;
			font-weight: bold;
			color: black;
			text-decoration: none;
			padding-left: 6px;
			background: url(2.png) no-repeat center left;
			}
		
		.rotator div.caption a.more:hover {
			color: #333;
			background-image: url(1.png);
			}
			


#inject {
	padding: 10px;;
	margin: 0;
	}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

#loading {
	height: 66px;
	background: transparent url(i.gif) no-repeat;
	}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

table.stator {
	width: 100%;
	padding: 0;
	}
	
	table.stator td.hide {
		padding: 0;
		font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
		text-align: left;
		color: #ddd;
		background: gray ;
		padding: 0 4px;
		height: 46px;
		vertical-align: middle;
		height: 36px;
		}

		table.stator td.hide .azglasuvam_hide {
			margin-top: 3px;
			}
		
		table.stator td.hide span.stamp {
			padding: 0;
			margin: 0;
			float: right;
			cursor: default;
			}
			
			 table.stator td.hide span.stamp a {
				color: white;
				text-decoration: none;
				}
			table.stator td.hide span.stamp a:hover {
				text-decoration: underline;
				}
				
				table.stator td.hide span.stamp a img {
					border: 0;
					vertical-align: middle;
					}
		
		table.stator td.hide label {
			padding: 0;
			margin: 0;
			cursor: pointer;
			font-size: 11px;
			position: relative;
			top: -2px;
			left: 1px;
			color: #ccc;
			}
			
	table.stator td.rotator {
		height: 444px;
		background: white url(b.png) no-repeat bottom right;
		vertical-align: top;
		}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */

